<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3><i class="fas fa-database"></i>Connection {{ connectionId }} {{stateName}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary btn-sm" ui-sref="app.dashboard">
        Disconnect
      </button>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h4>Keyspaces</h4>
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          ng-repeat="keyspace in keyspaces"
          ng-click="selectKeyspace(keyspace);"
        >
          {{ keyspace.keyspaceName }}
        </a>
      </div>
    </div>
    <div class="col-lg-9" ng-show="selectedKeyspace !== null">
      <h4>Tables</h4>
      <button class="btn btn-primary btn-sm" ui-sref="connectionKeyspaceNewTable({connectionId: connectionId, keyspaceName: selectedKeyspace.keyspaceName})">New Table</button>
      <br /><br />
      <table
        class="table table-bordered"
        ng-show="selectedKeyspace.tables.length > 0"
      >
        <thead>
          <tr>
            <th>Table</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="table in selectedKeyspace.tables" >
            <td><a ui-sref="connectionKeyspaceTable({connectionId: connectionId, keyspaceName: table.keyspaceName, tableName: table.tableName})">{{ table.tableName }}</a></td>
            <td style="width: 170px;">2.48 KB</td>
          </tr>
        </tbody>
      </table>
      <span ng-show="selectedKeyspace.tables.length === 0"
        >There are no tables in this keyspace.</span
      >
    </div>
  </div>
</div>
