<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3><i class="fas fa-database"></i>Query Editor</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button
        class="btn btn-primary btn-sm"
        ui-sref="connection({connectionId: connectionId})"
      >
        Go back
      </button>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-body">
        <label>Query text (CQL)</label>
        <textarea class="form-control" rows="7" ng-model="queryText"></textarea
        ><br />
        <button class="btn btn-primary btn-sm" ng-click="executeQuery();">
          Execute
        </button>
      </div>
    </div>
  </div>
  <div class="row" ng-show="queryResults != null">
    <div class="col-lg-12">
      <div class="card card-body scrolling-card">
        <table class="table table-bordered" ng-show="queryResults != ''">
          <thead>
            <tr>
              <th ng-repeat="column in queryResults.columns">
                {{column.columnName}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in queryResults.rows">
              <td class="fixed-td" ng-repeat="rowValue in row.rowValues">
                {{rowValue.value}}
              </td>
            </tr>
            <tr ng-show="queryResults.rows.length == 0">
              <td class="text-center" colspan="{{queryResults.columns.length}}">
                No results found.
              </td>
            </tr>
          </tbody>
        </table>
        <p ng-show="queryResults == ''">There are no results for this query.</p>
      </div>
    </div>
  </div>
</div>
