<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3><i class="fas fa-database"></i>Query Editor</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button
        class="btn btn-primary btn-sm"
        ui-sref="connection({connectionId: connectionId})"
      >
        Go back
      </button>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-body">
        <label>Query text (CQL)</label>
        <textarea class="form-control" rows="7" ng-model="queryText"></textarea
        ><br />
        <button class="btn btn-primary btn-sm" ng-click="executeQuery();">
          Execute
        </button>
      </div>
    </div>
  </div>
</div>
